
.completed
    color: $green

.not-completed
    color: $red

.card-header
    position: $relative

.card-header:hover
    cursor: $pointer

.card-header .status
    margin: 0
    position: absolute
    right: 1em
    top: 1em
